*{
    font-size: 20px;
}

/* utility */


img{
    width: 100%;
}

.btn-grey{
    background-color: #363636;
    color: white;
}

.btn-orange{
    background-color: #CD3D0F;
    color: white;
}

.btn-blue{
    background-color: #2D64E6;
    color: white;
}

.rounded-card{
    border-radius: 15px;
}

.mt-max{
    margin-top: 150px;
}

.mb-max{
    margin-bottom: 150px;
}

.h-max{
    height: 100%;
}

.col-div-5{
    width: calc(100% / 5);
    height: 200px;
    border: 1px solid orange;
}

/* HEADER */

#navbarSupportedContent li{
    padding: 0 20px;
}

#topbar{
    height: 50px;
    width: 100%;
    background-color: black;
    position: relative;
}

#topbar img{
    height: 30%;
    width: 10%;
    position: absolute;
    right: 20px;
}

/* HERO */

#hero{
    height: 700px;
    background-image: url(../img/jumbo-bg-full.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero .row{
    height: 100%;
}

.game-logo{
    width: 90%;
    position: relative;
    right: 10px;
}

#hero {
    padding-left: 100px;
    padding-right: 20%;
    padding-bottom: 5%;
}

@media screen and (max-width: 768px){
    #hero{
        padding: 0;
    }
}

#playstation-5 .row{
    height: 600px;
    align-items: center;
}

#console{
    height: 100%;
    background-image: url(../img/playstation-5-thumb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#playstation-5 #components{
    height: 200px;
}

.card{
    height: 200px;
}

.thumb{
    width: 50%;
}

/* hero 2 */

#hero.hero-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#hero.hero-2 .game-logo{
    width: 50%;
    position: relative;
    left: 10px;
}